@model IEnumerable<Biblioteka.Entities.Borrow>
@{
    ViewData["Title"] = "Home Page";
}

<h2> Wypożyczenie</h2>
<table class="table">
    <thead class="tab-pane">
        <tr>
            <td>Książka</td>
            <td>Czytelnik</td>
            <td>Data wypożyczenia</td>
            <td>Data zwrotu</td>
            <td><a class="btn btn-outline-success float-lg-right" asp-action="AddBorrow">Dodaj wypożyczenie</a></td>
            <td><a class="btn btn-outline-success float-lg-right" asp-action="AddReader">Dodaj czytelnika</a></td>
            <td><a class="btn btn-outline-success float-lg-right" asp-action="AddBook">Dodaj książkę</a></td>
        </tr>

    </thead>

    <tbody class="tab-content">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Book</td>
                <td>@item.Reader</td>
                <td>@item.BorrowDate</td>
                <td>@item.ReturnDate</td>
            </tr>
        }

    </tbody>

</table>
